  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Gemmatech Contact</h5>
          <p class="grey-text text-lighten-4">ph.choi@gemmatech.co.kr  </p>
          <p class="grey-text text-lighten-4">+82 (0)10 7745 1115 </p>          
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Sites</h5>
          <ul>
            <li><a class="white-text" href="www.gemmatech.co.kr">Korea</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="www.gemmatech.co.kr">Homepage</a></li>
          </ul>
        </div>
      </div>
    </div>

</footer>
